.background{
    background-color: rgb(255, 242, 222);
    margin: 5% auto;
    padding: 2rem 5rem 10rem;
    max-width: 80%;
}
.log-in{
    margin: 36px;
}

input,button {
  border-radius: 32px;
  padding: 10px 16px;
  margin: 16px;
  box-sizing: border-box;
}
input{
    width: 80%;
}
button{
    width: 87%;
    background-color: rgb(224, 255, 193);
    border-color: transparent;
    cursor: pointer;
    
}
h1{
    text-align: center;
}
div{
    text-align: center;
}
*{
    box-sizing: border-box;
}